$gray-300: #efefef;
$gray-500: #eaeaec;
$gray-700: #999999;
$green: #5cb85c;
$light-green: #83bf02;
$blue: #3583f6;
$blue-900: #181c2e;
$blue-800: #1e2647;
$orange: #f6a935;
$red: #f65835;
$white: #ffffff;
$black: #121212;
