@import '../../styles/theme';

.sidebar {
    background-color: $blue-900;
    height: 100vh;

    .banner {
        background: url('../../assets/banner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 9rem;
        }
    }

    @media (max-width: 768px) {
        height: 5rem;
        display: flex;
        align-items: center;

        .banner {
            visibility: hidden;
            height: 0;
            width: 0;
        }
    }
}

.sidebar-header {
    nav {
        display: flex;
        flex-direction: column;

        button.nav-item {
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .nav-item {
            padding: 1.5rem;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            color: $white;
            text-decoration: none;
            font-size: 1.4rem;
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: $black;
            }
        }

        @media (max-width: 768px) {
            flex-direction: row;

            .nav-item {
                svg {
                    display: none;
                }

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}
